<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BOCantabriaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOCantabria.Starting">
        <!--
          El bloqueo vertical es una decisión de producto explícita del propietario: la aplicación
          no tiene utilidad en horizontal en un móvil. Se suprimen los dos avisos de lint a
          conciencia:
            - LockedOrientationActivity avisa de que se limita al usuario, que es lo pretendido.
            - DiscouragedApi avisa de que a partir de Android 16 se ignora en pantallas grandes.
              Es cierto y está aceptado: en tablets no se intentará forzar (research.md, D-011).
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>